body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0.2rem solid black;
    border-radius: 3rem;
    max-height: 100vh;
    display: flex;
}

aside {
    width: 15rem;
    margin-left: 4rem;
}

main {
    width: calc(100% - 15rem);
    margin: 1rem 3rem 2.3rem 3rem;
}

.logo {
    display: flex;
    gap: 1rem;
    margin: 2rem 0 4rem 0;
}

.creation {
    display: flex;
    background-color: rgb(247, 248, 253);
    width: 11rem;
    height: 4rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
}

.creation p {
    font-weight: 700;
    word-wrap: break-word;
    
}

.creation button {
    display: flex;
    background-color: rgb(111, 98, 174);
    border-radius: 50%;
    height: 2.5rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    border: none;
    box-shadow: 1px 7px 10px 0 rgb(111, 98, 174, 0.2);
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 0 1rem;
}

.navigation a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    font-size: 1rem;
}

.aside-bottom {
    background-color: rgb(247, 247, 252);
    width: 11rem;
    height: 11rem;
    padding: 1rem;
    color: rgb(201, 204, 228);
    margin-top: 3.5rem;
    position: relative;   
}

.aside-bottom p {
    margin-top: 3rem;
}

.aside-bottom button {
    width: 7rem;
    height: 2rem;
    background-color: rgb(111, 98, 174);
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border: none;
}

.aside-bottom img {
    width: 9.5rem;
    position: absolute;
    top: -2.5rem;
    left: -0.1rem;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 3rem 0; 
}

.header-left {
    display: flex;
    flex-direction: column;
}

.date {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.date span {
    color: rgb(111, 98, 174);
    font-weight: 700;
}

.date p {
    color: rgb(201, 201, 201);
}

.header-right {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin-right: 2rem;
}

.header-right svg:first-child {
    margin-right: 2rem;
}

.header-right span {
    background-color: rgb(203, 193, 247);
    width: 1.8rem;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-left: 2rem;
    font-weight: 700;
}

.header-right p {
    font-weight: 700;
}
.desk {
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 204, 228);
    border-radius: 1rem;
    padding: 2rem;
    position: relative;
    height: 10rem;
}

.desk div h1{
    margin: 1rem 0 0.5rem 0;
}

.desk img {
    position: absolute;
    right: 2rem;
    top: -3.5rem;
}

.tasks h4 {
    color: rgb(169, 169, 169);
    margin: 1rem 0 1rem 0;
}

.tasks div {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 16.8rem;
    gap: 1.6rem;
}

.tasks .boxes div {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    line-height: 0.1rem;
    padding: 1rem;
}


.tasks div svg {
    padding: 0.4rem;
    margin-left: 1rem;
}

.boxes {
    color: white;
    border-radius: 0.5rem;
}

.boxes svg {
    border-radius: 0.6rem;
    align-self: center;
}
.boxes span {
    font-size: 1.5rem;
}

.final {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.text p {
    width: 55%;
    margin: 0 0 0.3rem 0;
}

.span {
    font-weight: 700;
}

.categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: rgb(247, 239, 244);
    padding: 1rem;
    border-radius: 0.5rem;
    flex-grow: 2;
}

.categories img {
    margin-right: 1rem;
}

.categories div h3 {
    color: rgb(72, 109, 230);
    margin-bottom: 0.3rem;
}

.categories div label {
    margin: 0 1rem 2rem 1.5rem;
}

.row {
    display: flex;
    flex-direction: row;
}


.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    border: 1px solid rgb(169, 169, 169);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.15rem;
    bottom: 0.25rem;
    background-color: #4F3E9C;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fff ;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4F3E9C, 0 0 1px #BBBFDE;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-right: 0.8rem;
}